<div class="row">
    <div class="col-lg-12">
      <div class="card-columns m-5">
        <div (click)="verArtista( item )" class="card" *ngFor="let item of items">
          <img [src]="item.images | noimage" alt="Card music" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
              <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary">{{artist.name}}</span>
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
